* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Inter;
  color: #000000;
}

header {
  height: 20.8rem;
  width: 100%;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.sale-bar {
  width: 100%;
  height: 56px;
  background-color: #658c4a;
  align-content: center;
  text-align: center;
}

.sale-bar a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.navigation-bar {
  width: 100%;
  height: 152px;
  padding: 20px 60px;
}

.navigation-bar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
