* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Inter;
  color: #000000;
}

body {
  height: 10000px;
}

header {
  height: 208px;
  width: 100%;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.sale-bar {
  width: 100%;
  height: 56px;
  background-color: #658c4a;
  align-content: center;
  text-align: center;
}

.sale-bar a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.navigation-bar {
  background-color: #fff;
  width: 100%;
  height: 208px;
  padding: 20px 60px;
  border-bottom: 1px solid #658c4a;
  position: fixed;
  z-index: 1000;
}

.navigation-bar:first-child {
  padding: 0;
}

.navigation-bar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 880px;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 16px;
  padding: 8px 16px;
  gap: 8px;
}
.search-bar i {
  font-size: 24px;
  color: #999;
}
.search-bar input {
  width: 90%;
  height: 100%;
  border-style: none;
  outline: none;
}

.search-bar input::placeholder {
  font-size: 16px;
  font-weight: 300;
}

.icon-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 32px;
}

.icon-nav i {
  font-size: 32px;
  color: #999;
}

.menu-bar {
  width: 100%;
  height: 72px;
  padding: 36px 120px;
  justify-content: center;
}

.menu-bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-bar a {
  font-weight: 600;
  font-size: 16px;
}

.section-header {
  width: 100%;
  height: 454px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cột */
  place-items: center; /* Căn giữa theo cả hai chiều */
}

.section-title {
  justify-items: center;
  padding: 80px 40px;
}
.section-title p,
.section-title button {
  margin-top: 24px;
}

.section-title h1 {
  font-size: 56px;
  font-family: Libre Baskerville;
  text-align: center;
}

.section-title p {
  font-size: 20px;
  font-weight: 300;
  color: #666666;
  text-align: center;
}

.section-title button {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  padding: 12px 24px;
  background-color: #658c4a;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, transform 0.1s;
}

.section-title button:hover {
  box-shadow: 0 0 15px rgba(49, 153, 106, 0.8);
}

.section-title button:active {
  transform: scale(0.95); /* Giảm kích thước nhẹ khi nhấn */
}

.section-category {
  width: 100%;
  height: 360px;
  padding: 80px 0;
}

.section-category__highlight {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center; /* Căn giữa theo cả hai chiều */
}

.category-text h3 {
  font-family: Libre Baskerville;
  font-size: 40px;
  color: #658c4a;
}
.category-banner {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
}

.category-banner img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.category-banner button {
  position: absolute;
  bottom: 24px;
  left: 24px;
  background: #333333;
  color: white;
  padding: 8px 16px;
  border-radius: 40px;
  font-size: 14px;
  border: none;
  text-align: center;
  cursor: pointer;
}

.section-most {
  padding: 80px 0;
  width: 100%;
  height: 744px;
  background-color: #658c4a;
}

.section-most__title {
  margin-bottom: 40px;
  text-align: center;
}

.section-most__title h2 {
  font-family: Libre Baskerville;
  font-size: 48px;
  color: #fff;
  margin-bottom: 8px;
}

.section-most__title p {
  color: #e6e6e6;
  font-size: 20px;
  font-weight: 300;
}

.most-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}
.product-card {
  width: 312px;
  height: 448px;
}
.product-card img {
  width: 100%;
  height: 312px;
  border-radius: 8px;
}

.product-card p {
  color: white;
}

.product-card .product-name {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.product-card .product-name,
.product-card img {
  margin-bottom: 8px;
}

.product-card .price-product,
.product-card .price-product__sale {
  font-size: 16px;
  font-weight: 600;
}

.product-card .price-product__sale {
  text-decoration: line-through; /* Gạch ngang */
  opacity: 0.8; /* Làm mờ nhẹ */
}

.section-arrival {
  width: 100%;
  height: 778px;
  padding: 80px 0;
  background-color: #fff;
}

.section-arrival__new {
  width: 100%;
  height: 100%;
}

.arrival-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrival-title {
  flex-grow: 1;
}
.arrival-title h3 {
  font-family: Libre Baskerville;
  font-size: 40px;
}

.arrival-title p {
  font-size: 16px;
  font-weight: 300;
  color: #666666;
}

.btn-arrival__arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.btn-arrow__left i,
.btn-arrow__right i {
  font-size: 24px;
}

.btn-arrow__left,
.btn-arrow__right {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.btn-arrow__left:hover,
.btn-arrow__right:hover {
  opacity: 0.1;
}
